<h1>Leap year detector</h1>

<p>Find out if any year to the form below.  Submit your year and we will tell you
  if it is a leap year!</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="year">A name</label>
    <input id="year" name="year" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Is it a leap year?</button>
</form>
