<h1>Leap Year Detector</h1>
<h3>Enter the year and I will tell you if it's a leap year or not!</h3>

<form action='/detector'>

  <div class="form-group">
    <label for="year"></label>
    <input id="year" name="year" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Go!</button>
</form>
